.menu-catalog {
    position: relative;
}

.menu-catalog-content {
    position: absolute !important;
    top: 100% !important;
    left: 0 !important;
    right: auto !important;
    transform: none !important;
    margin: 0 !important;
    /* min-width: 250px; */
    max-width: 300px;
    z-index: 100;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    position: absolute !important;
    top: 0 !important;
    left: 100% !important;
    margin-top: 0 !important;
    margin-left: -1px !important;
    border-radius: 0.375rem;
    display: none;
    min-width: 220px;
    z-index: 101;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block !important;
}

/* Arrow for submenu */
.dropdown-submenu > .dropdown-toggle::after {
    display: inline-block;
    margin-left: auto;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
    /* float: right; */
}

/* Placement of dropdown arrow */
.dropdown-submenu > .dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* Style for submenu items */
.dropdown-submenu .dropdown-item {
    padding: 0.5rem 1rem;
    /* color: #212529; */
    text-decoration: none;
    background-color: transparent;
    border: 0;
    /* display: block; */
    width: 100%;
    font-size: 0.9rem;
}

.dropdown-submenu .dropdown-item:hover,
.dropdown-submenu .dropdown-item:focus {
    background-color: #f8f9fa !important;
    color: #212529 !important;
}

.dropdown-submenu .dropdown-item.fw-bold {
    color: #0d6efd !important;
    font-weight: 600 !important;
}

.dropdown-submenu .dropdown-item.fw-bold:hover {
    color: #0b5ed7 !important;
    background-color: #e7f1ff !important;
}

/* Style for nested active menu items */
.dropdown-submenu .dropdown-item.active,
.dropdown-submenu .dropdown-item:active {
    background-color: #0d6efd !important;
    color: #ffffff;
}

.menu-catalog-content .dropdown-item-text {
    color: #6c757d !important;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

.dropdown-divider {
    margin: 0.5rem 0;
    border-top: #e7f1ff;
}

/* Settings for some resolutions */
@media (max-width: 991.98px) {
    .dropdown-submenu > .dropdown-menu {
        position: static;
        display: none;
        margin-left: 1rem;
        box-shadow: none;
        border: none;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }
}

/* Animation */
.dropdown-menu {
    transition: opacity 0.15s linear, transform 0.15s ease-in-out;
}

.dropdown-submenu > .dropdown-menu {
    transition: opacity 0.1s linear;
}

/* Z-index */
.navbar {
    z-index: 1001;
}

.dropdown-menu {
    z-index: 1002;
}

.dropdown-submenu > .dropdown-menu {
    z-index: 1003;
}