.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

/* Щоб підменю з’являлось по ховеру (можна замінити на click) */
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
