@using BasedTechStore.Web.ViewModels
@model UserProfileViewModel

<div class="container mt-4">
    <h2 class="mb-4">Особистий кабінет</h2>

    <ul class="nav nav-tabs" id="profileTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info"
                    type="button" role="tab" aria-controls="info" aria-selected="true">
                Загальна інформація
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="security-tab" data-bs-toggle="tab" data-bs-target="#security"
                    type="button" role="tab" aria-controls="security" aria-selected="false">
                Безпека
            </button>
        </li>
        @if (User.IsInRole("Manager"))
        {
            <li class="nav-item" role="presentation">
                <a href="@Url.Action("Index", "AdminPanel")" class="btn btn-outline-primary mt-3">Адмін панель</a>
            </li>
        }
    </ul>

    <div class="tab-content mt-3" id="profileTabContent">
        <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
            <dl class="row">
                <dt class="col-sm-3">ПІБ</dt>
                <dd class="col-sm-9">@Model.FullName</dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">@Model.Email</dd>

                <dt class="col-sm-3">Номер телефону</dt>
                <dd class="col-sm-9">@Model.PhoneNumber</dd>
            </dl>
        </div>
        @* @if (User.IsInRole("Manager")) *@
        @* { *@
        @*     <div class="tab-pane fade" id="admin-panel" role="tabpanel" aria-labelledby="admin-tab"> *@
        @*         <partial name="_AdminPanelPartial" /> *@
        @*     </div> *@
        @* } *@

        <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
            <p>Функціонал зміни пароля поки не реалізовано.</p>
        </div>
    </div>
</div>
